node_modules
.next
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
*.pem
.vercel
.turbo
out
dist
build
*.swp
*.swo
*.swn
.idea
.vscode
*.log
coverage
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv
*.egg-info/
